<div class="container">
    <div class="row">
    <div class="col"></div>
    
    <div class="card card-align">
    
    <div class="card-header"><h3>Sign-in</h3></div>
    <div class="card-body">
    <form action="">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter Username" name="user"/>
      </div>
      <div class="form-row">
      <div class="col">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" id="firstname" placeholder="Enter First Name" name="firstname"/>
      </div>
      <div class="col">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" placeholder="Enter Last Name" name="lastname"/>
      </div>
      </div>
      <div class="form-row">
      <div class="col">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password"/>
      </div>
      <div class="col">
        <label for="pwd">confirm Password</label>
        <input type="password" class="form-control" id="cpwd" placeholder="Confirm Password" name="confirm password"/>
      </div>
      </div>
      <div class="form-group">
        <label for="">Company Name</label>
        <input type="company name" class="form-control" id="company name" placeholder="Enter Company Name" name="Company Name"/>
      </div>
      <div class="form-group">
        <label for="">GSTIN</label>
        <input type="GSTIN" class="form-control" id="GSTIN" placeholder="Enter GSTIN" name="GSTIN"/>
      </div>
      <div class="form-group">
        <label for="">Website</label>
        <input type="Website" class="form-control" id="Website" placeholder="Enter Website" name="Website"/>
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email"/>
      </div>
       <div class="form-group">
        <label for="">Brief About Company</label>
        <input type="Brief About Company" class="form-control" id="Brief About Company" placeholder="Enter Brief About Company" name="Brief About Company"/>
      </div>
      <div class="form-group">
        <label for="">Mobile Number</label>
        <input type="tel" class="form-control" id="Mobile Number" placeholder="Enter Mobil Number" name="mobile number" pattern="^\d{10}$"/>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
      <label>Already registered?</label>
      <a routerLink="/login">login</a>
      </form>
      </div>
      </div>
     
      <div class="col"></div>
      </div>
      </div>
